<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectKey</key>
	<string>swift-development-42</string>
	<key>scope</key>
	<string>view_products:swift-development-42 manage_my_profile:swift-development-42 manage_my_orders:swift-development-42</string>
	<key>clientId</key>
	<string>AdQ97I4UmJx_5qiIjUhIpojN</string>
	<key>clientSecret</key>
	<string>ucxlWZZ264fXMICvHJlt5K8d772R_pHb</string>
	<key>authUrl</key>
	<string>https://auth.sphere.io</string>
	<key>apiUrl</key>
	<string>https://api.sphere.io</string>
	<key>anonymousSession</key>
	<true/>
</dict>
</plist>
