<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectKey</key>
	<string>swift-development-42</string>
	<key>scope</key>
	<string>manage_my_payments:swift-development-42 manage_my_orders:swift-development-42 view_project_settings:swift-development-42 manage_my_profile:swift-development-42 create_anonymous_token:swift-development-42 view_products:swift-development-42 manage_my_shopping_lists:swift-development-42 view_stores:swift-development-42</string>
	<key>clientId</key>
	<string>2BjV8isT4NNNyGjUfdW44IGs</string>
	<key>clientSecret</key>
	<string>D2PPxmXvSHh8Z64CeNdwoW9yivbtZ96I</string>
	<key>authUrl</key>
	<string>https://auth.sphere.io</string>
	<key>apiUrl</key>
	<string>https://api.sphere.io</string>
	<key>anonymousSession</key>
	<true/>
	<key>shareWatchSession</key>
	<true/>
</dict>
</plist>
